**.ipynb_checkpoints
**.vscode
**__pycache__
**.idea
**input
**output
**notebooks
**/logs
**/__pycache__
**/.ipynb_checkpoints
/experiments
**__pycache__/
**/.DS_Store
**/.DS_Store
/auto_ab
/dist
/build
/ab_tools.egg-info
MANIFEST.in